.detailFields {
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cell {
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: gray;
  min-width: 250px;
  min-height: 50px;
}

.timeCell {
  @extend .cell;
  min-width: 100px;
  text-align: center;
  padding-top: 5%;
}

.column {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timeTable {
  overflow-x: scroll;
}
