.navBar {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 0;
}

.profile {
  position: absolute;
  right: 1%;
}

// .navlink {
//   border-bottom-color: black;
// }
